a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	font-weight: bold;
}

.hidden {
	visibility: hidden;
}

.icon-large {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 5vw;
}

.container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: pre;
    font-size: 3vw;
};
